<div class="post-media">
  <hr>
  <div class="post-body">
    <p>{{post.message_html|safe}}</p>
  </div>


<div class="combined-footer">
  <div class="post-footer">
    <div class="user-stamp">
      <span class='username'>
        <a href="{% url 'posts:for_user' username=post.user.username%}">
          @{{post.user.username}}</a>
      </span>
    </div>

<div class="timestamp">
  <time class='time'>
    <a href="{% url 'posts:single' username=post.user.username pk=post.pk%}">
      {{post.created_at}}
    </a>
  </time>
</div>
  </div>

    <div class="media-footer">
      {% if user.is_authenticated and post.user == user %}
      <a href="{% url 'posts:delete' pk=post.pk %}" title="delete"
        class="btn btn-danger">
        Delete Post
      </a>
      {% endif%}
    </div>
</div>

<hr>
</div>
