{% extends "posts/post_base.html" %}


{% block prepost %}

  {% if request.user.is_authenticated %}
<div class="">
  <div class="content">
    <h5>Your Groups</h5>
    <ul>
    {% for mem_group in user_groups %}
    <li>
      <a href="{% url 'groups:single' slug=mem_group.group.slug %}">
        {{mem_group}}
     </a>
  </li>
    {% empty %}
    <p>You aren't part of any groups.</p>
    {% endfor %}
  </ul>
  </div>
</div>
  {% endif %}

  <div class="">
    <div class="content">
      <h5>All Groups</h5>
      <ol>
        {% for other in get_other_groups %}
        <li>
          <a href="{% url 'groups:single' slug=other.slug %}">
            {{other.name}}
         </a>
      </li>
        {% empty %}
        <p>No groups found.</p>
        {% endfor %}
      </ol>
    </div>
  </div>

{% endblock %}

{% block post_content %}
  {% for post in post_list %}
   {% include 'posts/_post.html'%}
  {% endfor %}
{% endblock %}
